<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to 99 Cats!</h1>
    <p>
      You have successfully signed up to 99 Cats,
      your username is: <%= @user.username %>.
      <br/>
      Please login <a href=<%=@url%>>Here</a>
    </p>
    <p>Thank you.</p>
</body>
</html>