/* PHASE 3: Content */

.content {
    background: white;
    width: 900px;
    margin: 0 auto;
    border: 1px solid hsl(0, 0%, 80%);
    border-top: none;
}

.content-sidebar {
    float: left;
    box-sizing: border-box;
    width: 240px;
    padding: 20px;
}

.content-main {
    float: left;
    box-sizing: border-box;
    width: 660px;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p {

}